{% extends "main_template.html" %}
{% block title %}{{ post["title"] }}{% endblock %}

{% block content %}
			
	<div class="panel panel-default">
		<div class="panel-heading"><h1>{{ post["title"] }}</h1></div>
		<div class="panel-body blog-content">
		
		<ol class="breadcrumb">
		  <li><a href="{{ subdir }}index.html">Home</a></li>
		  <li><a href="{{ subdir }}blog/index.html">Blog</a></li>
		  <li class="active">{{ post["title"] }}</li>	
		  <span class="date pull-right">{{ post["formatted_date"] }}</span>
		</ol>		
		
		<hr/>
		
		{{ post["content"] }}
		
		{% if post["tags"] != "" %}
		  <hr/>
		  <i class="fa fa-tags fa-fw"></i> {{ post["tags"] }}
		{% endif %}
		</div>
	</div>
	
{% endblock %}